.container {
  min-height: 35vh;
  display: flex;
  padding-top: 2rem;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__title {
  margin-bottom: 2rem;
}


.container__intro {
  font-size: 22px;
}

.home__intro {
  font-size: 25px;
  width: 50%;
  
}


@media (max-width: 500px) {

}
