@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #1d1d1d;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* error heading */
.error-heading {
  text-align: center;
  color: red;
  margin-bottom: 1em;
}

/* title */
.title {
  text-align: center;
  margin-bottom: 1em;
}

/* form */
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;
}

.form-group input {
  border-radius: 10px;
  padding: 10px;
}

.form-group button {
  padding: 15px;
  border-radius: 10px;
  background-color: #eee;
}

/* card styles */
.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 350px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}

.card-image {
  width: 250px;
  height: 250px;
  border: 1px solid #fff;
}

.card-image img {
  width: 100%;
}

.card-title {
  margin-bottom: 1em;
}

.single-drink ul {
  margin-top: 2em;
}

.card-single {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 550px;
  height: 550px;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.single-drink-info {
  width: 50%;
  color: #000;
  display: flex;
}

.recipe {
  color: #000;
  text-align: center;
}

.single-drink {
  border-radius: 15px;
  width: 600px;
  height: 550px;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}

.single-drink ul {
  list-style-type: none;
}

.list {
  margin-top: 3em;
}

@media (max-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
