.drink-card {
  margin-bottom: 1em;
  margin-top: 1em;
  width: 350px;
  height: 550px;
  background-color: #fefffe;
  border-radius: 10px;
  border: 1px solid #000;
  color: #000;
  padding-bottom: 15px;
}

.drink-card:hover {
  transform: scale(1.06);
  transition: all 0.6s ease-out;
  cursor: pointer;
}

.drink-card__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drink__card-title {
  margin: 0 auto;
  text-align: center;
}
