.drink-card {
  margin-bottom: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 350px;
  height: 650px;
  background-color: #fefffe;
  border-radius: 10px;
  border: 1px solid #000;
  color: #000;
  padding: 0.5em;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.drink__card-title {
  margin: 0 auto;
  text-align: center;
}

.drink-description {
  text-align: center;
  margin-top: 2em;
  font-size: 25px;
  word-wrap: wrap;
}
@media(max-width: 500px){
  .drink-card { 
    width: 350px;
    height: 550px;
    background-color: #fefffe;
    border-radius: 10px;
    border: 1px solid #000;
    color: #000;
    padding: 0.5em;
    margin-right: 5rem;
  }
}