.container {
  min-height: 25vh;
  max-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__title {
  margin-bottom: 2rem;
}



.container__intro {
  font-size: 22px;
}



@media (max-width: 500px) {

}
