.container {
  min-height: 25vh;
  max-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__title {
  margin-bottom: 2rem;
}

.container__intro-container {
  max-width: 450px;
  min-width: 450px;
  background-color: #dfe4ea;
  padding: 6rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  text-align: center;
}

.container__intro {
  font-size: 22px;
}

@media (max-width: 500px) {
  .container__intro-container {
    margin-top: 15rem;
    max-width: 350px;
    min-width: 350px;
    min-height: 250px;
    max-height: 250px;
    padding: 1rem;
    margin: 15.5rem 0 2.5rem 10rem;
  }
}
