.search-wrapper {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__title {
  margin-bottom: 2rem;
  font-size: 40px;
}

.search__main {
  text-align: center;
  padding: 2rem;
  width: 800px;
  background-color: #f1f2f6;
  border-radius: 15px;
}

.search__query {
  border-radius: 10px;
  border: 2px solid #eee;
  transition: 0.3s border-color;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 22px;
}

.search__query:hover {
  border: 1px solid #aaa;
}

.search__btn {
  font-size: 15px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 4px;
  color: #000;
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.search__btn:hover {
  cursor: pointer;
}

.search__btn:active {
  transform: scale(1.08);
  outline: 0;
}

.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.drink-card {
  margin-bottom: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 350px;
  height: 650px;
  background-color: #fefffe;
  border-radius: 10px;
  border: 1px solid #000;
  color: #000;
  padding: 0.5em;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}

.drink__card-title {
  margin: 0 auto;
  text-align: center;
}

.drink-description {
  text-align: center;
  margin-top: 2em;
  font-size: 25px;
  word-wrap: wrap;
}

@media (max-width: 1500px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}


@media(max-width: 1050px){
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

}

@media(max-width: 850px){
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 0 0 0 15rem;
  }
}

